<html>

<head>
    <title>New Kind Of Dashboard</title>
    <link rel="shortcut icon" href=img/favicon.ico> <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="libs/nkn-wallet.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="https://rawgit.com/jasonmayes/Twitter-Post-Fetcher/master/js/twitterFetcher.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/adaptive.css">
</head>

<body>
    <div id="app">
        <div class="preloader" v-if="isLoading">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
        </div>
        <div class="page-container">
            <md-app>
                <md-app-toolbar class="md-primary">
                    <img class="logo" src="img/logo.png"> <span class="md-title">New Kind Of Dashboard</span><a class="release" href="https://github.com/thesheepman/nkn-dashboard/releases" target="_blank">v0.3.1</a>
                </md-app-toolbar>
                <md-app-drawer md-permanent="card">
                    <md-list>
                        <md-list-item id="tab-home" md-label="Balance" v-on:click='activeItem = "wallet"'>
                            <md-icon>account_balance_wallet</md-icon>
                            <span class="md-list-item-text">Balance</span>
                        </md-list-item>
                        <md-list-item id="tab-pages" md-label="Calculator" v-on:click='activeItem = "calc"'>
                            <md-icon>
                                build
                            </md-icon>
                            <span class="md-list-item-text">Calculator</span>
                        </md-list-item>
                        <md-list-item id="tab-posts" md-label="Nodes" v-on:click='activeItem = "node"'>
                            <md-icon>language</md-icon>
                            <span class="md-list-item-text">Nodes</span>
                        </md-list-item>
                        <md-list-item id="tab-posts" md-label="Nodes" v-on:click='activeItem = "blocks"'>
                            <md-icon>widgets</md-icon>
                            <span class="md-list-item-text">Blocks</span>
                        </md-list-item>
                        <md-list-item id="tab-posts" md-label="twitter" v-on:click='activeItem = "twitter"'>
                            <md-icon><i class="fa fa-twitter" aria-hidden="true"></i></md-icon>
                            <span class="md-list-item-text">Twitter</span>
                        </md-list-item>
                    </md-list>
                    <div class="nav-btm">
                        <div class="nav-btm__item">
                            <div class="nav-btm__item-text bold"><img class="block-img" src="img/block.png" alt="">Current Block:</div>
                                <div class="nav-btm__item-text">{{latestBlock}}</div>
                            </div>
                            <div class="nav-btm__item">
                                <div class="nav-btm__item-text bold"><img src="img/coin.png" alt="">NKN Price:</div>
                                    <div class="nav-btm__item-text">{{nknPrice}} $</div>
                                </div>
                            </div>
                </md-app-drawer>
                <md-app-content>
                    <div v-if="activeItem ==='wallet'">
                        <div class="mini-card-wrapper --market">
                            <div class="mini-card --green">
                                <div class="mini-layout">
                                <div class="mini-card__title">NKN Price</div>
                                <div class="mini-card__content">${{nknPrice}}</div>
                                </div>
                            </div>
                            <div class="mini-card --blue">
                                <div class="mini-layout">
                                <div class="mini-card__title">Marketcap</div>
                                <div class="mini-card__content">{{nknCap}}M</div>
                                </div>
                            </div>
                            <div class="mini-card --green">
                                <div class="mini-layout">
                                <div class="mini-card__title">Daily Volume</div>
                                <div class="mini-card__content">${{nknVolume}}K</div>
                                </div>
                            </div>
                            <div class="mini-card --blue">
                                <div class="mini-layout">
                                <div class="mini-card__title">Market Rank</div>
                                <div class="mini-card__content">#{{nknRank}}</div>
                                </div>
                            </div>
                            <div class="mini-card --green">
                                <div class="mini-layout">
                                <div class="mini-card__title">Change 24</div>
                                <div class="mini-card__content">{{nkn24}}%</div>
                                </div>
                            </div>
                        </div>
                        <md-card class='w-50'>
                            <md-card-header>
                                <div class="md-title">Wallet</div>
                            </md-card-header>
                            <md-card-content class='md-layout-item'>
                                <div class="wallet-wrapper">
                                    <md-field class='wallet-input'>
                                        <label>NKN Address</label>
                                        <md-input id="wallet" type="text"></md-input>
                                    </md-field>
                                    <md-button v-on:click='checkBalance' id="checkBalance" class="md-raised md-primary">Check Balance</md-button>
                                </div>
                                <div class="walletData">
                                    <div class="balance-block">
                                        <md-chip class='balance-marker'>NKN</md-chip><span class="walletBalance"></span>
                                    </div>
                                    <div class="balance-block">
                                        <md-chip class='balance-marker usd'>USD</md-chip><span class="walletBalanceUsd"></span>
                                    </div>
                                    <div class="note">*Speculative balance calculated at 5:1 testnet:mainnet ratio, at current market prices. Not to be used to plan your finances, since there is no guarantee you can actually redeem shown balance.</div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="card-expansion calc" v-if="activeItem ==='calc'">
                        <md-card>
                            <md-card-header>
                                <div class="md-title">Mining Calculator</div>
                            </md-card-header>
                            <md-card-content>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>Average block time in seconds:</label>
                                            <md-input value='12' v-model="blocktime" type="text"></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>Current node count in NKN network:</label>
                                            <md-input v-model="totalNodes" type="text"></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>Amount of your nodes:</label>
                                            <md-input v-model="userNodes" type="text"></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>Your nodes working time in months:</label>
                                            <md-input v-model="nodeTime" type="text"></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>1 Node/1 Month cost in USD</label>
                                            <md-input v-model="nodeCost" type="text"></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                        <md-field>
                                            <label>Bandwidth/Month cost in USD</label>
                                            <md-input v-model="bandWidthCost" type="text"></md-input>
                                        </md-field>
                                    </div>
                                </div>
                                <div>Approximate amount of NKN testnet tokens mined per day: <span>{{testTokensDaily}} NKN</span></div>
                                <div>Total testnet tokens mined per {{nodeTime}} months: <span>{{totalTestTokens}} NKN</span></div>
                                <div>NKN mainnet tokens (1:5 ratio) per {{nodeTime}} months: <span>{{totalMainTokens}} NKN</span></div>
                                <div>USD Profit per day: <span>${{usdProfitPerDay}}</span></div>
                                <div>USD Profit per {{nodeTime}} months: <span>${{usdProfit}}</span></div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <!-- node -->
                    <div v-if="activeItem ==='node'">
                        <div class="card-wrapper">
                            <md-card class='w-70'>
                                <md-card-header>
                                    <div class="md-title">Node Manager</div>
                                </md-card-header>
                                <md-card-content>
                                    <md-radio v-model="currentOrder" value="default">All states</md-radio>
                                    <md-radio v-model="currentOrder" value="PersistFinished">PersistFinished</md-radio>
                                    <md-radio v-model="currentOrder" value="SyncFinished">SyncFinished</md-radio>
                                    <md-radio v-model="currentOrder" value="SyncStarted">SyncStarted</md-radio>
                                    <md-radio v-model="currentOrder" value="Error">Error</md-radio>
                                </md-card-content>
                            </md-card>
                            <md-card class='w-30'>
                                <md-card-header>
                                    <div class="md-title">Seed Node</div>
                                </md-card-header>
                                <md-card-content>
                                    <div class="market">
                                        <div class="market-item w-auto">
                                            <div class="market-item__heading">Latest Block</div>
                                            <div class="market-item__data">{{latestBlock}}</div>
                                        </div>
                                        <div class="market-item w-auto">
                                            <div class="market-item__heading">Status</div>
                                            <div class="market-item__data">{{seedStatus}}</div>
                                        </div>
                                        <div class="market-item w-auto">
                                            <div class="market-item__heading">Version</div>
                                            <div class="market-item__data">{{seedVersion}}</div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <md-table md-card>
                            <md-table-row>
                                <md-table-head md-numeric>#</md-table-head>
                                <md-table-head>Node</md-table-head>
                                <md-table-head>Status</md-table-head>
                                <md-table-head>Latest Block</md-table-head>
                                <md-table-head>Tx</md-table-head>
                                <md-table-head>Version</md-table-head>
                            </md-table-row>
                            <md-table-row v-for="(node, index) in sortedArray" v-bind:key="index">
                                <md-table-cell md-numeric>{{index+1}}</md-table-cell>
                                <md-table-cell>{{node.Addr}}</md-table-cell>
                                <md-table-cell>{{node.SyncState}}</md-table-cell>
                                <md-table-cell>{{node.latestBlocks}}</md-table-cell>
                                <md-table-cell>{{node.TxnCnt}}</md-table-cell>
                                <md-table-cell>{{node.version}}</md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div v-if="activeItem ==='twitter'">
                        <div id="latest-tweets">
                            <ul class="tweet-list">
                                <li v-html='tweet' v-for="tweet in tweets" class="tweet">{{ tweet }}</li>
                            </ul>
                        </div>
                    </div>
                    <div v-if="activeItem ==='blocks'">
                        <div class="mini-card-wrapper">
                            <div class="mini-card --green">
                                <div class="mini-layout">
                                <div class="mini-card__title">Latest Block</div>
                                <div class="mini-card__content">{{latestBlock}}</div>
                                </div>
                            </div>
                            <div class="mini-card --blue">
                                <div class="mini-layout">
                                <div class="mini-card__title">Created</div>
                                <div class="mini-card__content">{{latestTiming}}</div>
                                </div>
                            </div>
                            <div class="mini-card --red">
                                <div class="mini-layout">
                                <div class="mini-card__title">Mempool Size</div>
                                <div class="mini-card__content">{{memPool}}</div>
                                </div>
                            </div>
                        </div>
                        <md-table md-card>
                            <md-table-row>
                                <md-table-head>Block Height</md-table-head>
                                <md-table-head>Created</md-table-head>
                                <md-table-head>Miner</md-table-head>
                                <md-table-head>Reward</md-table-head>
                                <md-table-head>Transactions</md-table-head>
                            </md-table-row>
                            <md-table-row v-for="(miner,index) in sortedMiners" v-bind:key="index">
                                <md-table-cell>{{miner.height}}</md-table-cell>
                                <md-table-cell>{{miner.time}}</md-table-cell>
                                <md-table-cell>{{miner.miner}}</md-table-cell>
                                <md-table-cell>{{miner.reward}} NKN</md-table-cell>
                                <md-table-cell>{{miner.tx}}</md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                </md-app-content>
            </md-app>
        </div>
    </div>
    <script src="js/common.js"></script>
</body>

</html>